<div class="left-panel-container">
  <mat-card>
    <mat-card-title>Left Panel</mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <table>
        <tr>
          <td>Web Socket:</td>
          <td>
            <mat-icon *ngIf="webSocketService.isConnected" class="green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="!webSocketService.isConnected" class="red"
              >cancel</mat-icon
            >
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
