<div class="canvas-container">
  <mat-card>
    <mat-card-title>Canvas</mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <button mat-raised-button (click)="syncApiRequest()" color="primary">
        Sync API Request
      </button>
      <button
        mat-raised-button
        (click)="asyncApiRequest()"
        [disabled]="loading"
        color="primary"
      >
        Async API Request
        <mat-icon *ngIf="loading">
          <mat-spinner color="accent" diameter="20"> </mat-spinner>
        </mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
